SCHEMATIC START ;
// created by map version G.31a on Tue Aug 02 11:48:35 2005 
COMP "$1I162/LED2" LOCATE =  SITE "J5" LEVEL 1; 
COMP "$1I162/RD0_SYNC" LOCATE =  SITE "AA19" LEVEL 1; 
COMP "$1I162/LED3" LOCATE =  SITE "J6" LEVEL 1; 
COMP "$1I162/LED4" LOCATE =  SITE "J7" LEVEL 1; 
COMP "$1I162/LED5" LOCATE =  SITE "J8" LEVEL 1; 
COMP "$1I162/LED6" LOCATE =  SITE "H1" LEVEL 1; 
COMP "$1I162/LED7" LOCATE =  SITE "H2" LEVEL 1; 
COMP "$1I162/~HFA0IN" LOCATE =  SITE "M22" LEVEL 1; 
COMP "$1I162/F4_BUSY" LOCATE =  SITE "H16" LEVEL 1; 
COMP "$1I162/RD1_WARN" LOCATE =  SITE "AB20" LEVEL 1; 
COMP "$1I162/CLKOUTX1" LOCATE =  SITE "R23" LEVEL 1; 
COMP "$1I162/RD1_BUSY" LOCATE =  SITE "AC20" LEVEL 1; 
COMP "$1I162/RD1_ERROR" LOCATE =  SITE "AD26" LEVEL 1; 
COMP "$1I162/RD1_SYNC" LOCATE =  SITE "AE26" LEVEL 1; 
COMP "$1I162/F7_BUSY" LOCATE =  SITE "G19" LEVEL 1; 
COMP "$1I162/F6_WARN" LOCATE =  SITE "B19" LEVEL 1; 
COMP "$1I162/F7_WARN" LOCATE =  SITE "H19" LEVEL 1; 
COMP "$1I162/F6_SYNC" LOCATE =  SITE "E19" LEVEL 1; 
COMP "$1I162/F7_SYNC" LOCATE =  SITE "C20" LEVEL 1; 
COMP "$1I162/F5_ERROR" LOCATE =  SITE "H18" LEVEL 1; 
COMP "$1I162/F6_ERROR" LOCATE =  SITE "F19" LEVEL 1; 
COMP "$1I162/F7_ERROR" LOCATE =  SITE "D20" LEVEL 1; 
COMP "$1I162/F4_ERROR" LOCATE =  SITE "D18" LEVEL 1; 
COMP "$1I162/F5_BUSY" LOCATE =  SITE "E18" LEVEL 1; 
COMP "$1I162/F6_BUSY" LOCATE =  SITE "A19" LEVEL 1; 
COMP "$1I162/FSEL1_0" LOCATE =  SITE "U22" LEVEL 1; 
COMP "$1I162/F5_WARN" LOCATE =  SITE "F18" LEVEL 1; 
COMP "$1I162/SI1" LOCATE =  SITE "P22" LEVEL 1; 
COMP "$1I162/F4_SYNC" LOCATE =  SITE "C18" LEVEL 1; 
COMP "$1I162/F5_SYNC" LOCATE =  SITE "G18" LEVEL 1; 
COMP "$1I162/FSEL1_1" LOCATE =  SITE "U24" LEVEL 1; 
COMP "$1I162/~PLD1" LOCATE =  SITE "P23" LEVEL 1; 
COMP "$1I162/~OSEN1" LOCATE =  SITE "R25" LEVEL 1; 
COMP "$1I162/F4_WARN" LOCATE =  SITE "H17" LEVEL 1; 
COMP "$1I162/FF0IN" LOCATE =  SITE "J22" LEVEL 1; 
COMP "$1I162/FF1IN" LOCATE =  SITE "R22" LEVEL 1; 
COMP "$1I162/L1_17" LOCATE =  SITE "P2" LEVEL 1; 
COMP "$1I162/L0_17" LOCATE =  SITE "J2" LEVEL 1; 
COMP "$1I162/KILL3" LOCATE =  SITE "AA14" LEVEL 1; 
COMP "$1I162/KILL2" LOCATE =  SITE "AC15" LEVEL 1; 
COMP "$1I162/KILL1" LOCATE =  SITE "AD15" LEVEL 1; 
COMP "$1I162/KILL0" LOCATE =  SITE "AB14" LEVEL 1; 
COMP "$1I162/~PAF1IN" LOCATE =  SITE "T22" LEVEL 1; 
COMP "$1I162/~HFA1IN" LOCATE =  SITE "V22" LEVEL 1; 
COMP "$1I162/~PAF0IN" LOCATE =  SITE "J23" LEVEL 1; 
COMP "$1I162/IN_EV_RST" LOCATE =  SITE "AB1" LEVEL 1; 
COMP "$1I162/DOUT4" LOCATE =  SITE "M21" LEVEL 1; 
COMP "$1I162/DOUT5" LOCATE =  SITE "N21" LEVEL 1; 
COMP "$1I162/DOUT14" LOCATE =  SITE "L24" LEVEL 1; 
COMP "$1I162/DOUT6" LOCATE =  SITE "N22" LEVEL 1; 
COMP "$1I162/DOUT15" LOCATE =  SITE "K26" LEVEL 1; 
COMP "$1I162/DOUT7" LOCATE =  SITE "N23" LEVEL 1; 
COMP "$1I162/DOUT8" LOCATE =  SITE "N19" LEVEL 1; 
COMP "$1I162/DOUT0" LOCATE =  SITE "N18" LEVEL 1; 
COMP "$1I162/DOUT17" LOCATE =  SITE "J26" LEVEL 1; 
COMP "$1I162/DOUT9" LOCATE =  SITE "K19" LEVEL 1; 
COMP "$1I162/DOUT1" LOCATE =  SITE "L20" LEVEL 1; 
COMP "$1I162/DOUT16" LOCATE =  SITE "K25" LEVEL 1; 
COMP "$1I162/DOUT10" LOCATE =  SITE "L19" LEVEL 1; 
COMP "$1I162/DOUT2" LOCATE =  SITE "M19" LEVEL 1; 
COMP "$1I162/DOUT11" LOCATE =  SITE "N24" LEVEL 1; 
COMP "$1I162/DOUT3" LOCATE =  SITE "M20" LEVEL 1; 
COMP "$1I162/DOUT12" LOCATE =  SITE "M26" LEVEL 1; 
COMP "$1I162/DOUT13" LOCATE =  SITE "M25" LEVEL 1; 
COMP "$1I162/DOUT22" LOCATE =  SITE "T21" LEVEL 1; 
COMP "$1I162/DOUT23" LOCATE =  SITE "T20" LEVEL 1; 
COMP "$1I162/DOUT32" LOCATE =  SITE "V26" LEVEL 1; 
COMP "$1I162/DOUT24" LOCATE =  SITE "T19" LEVEL 1; 
COMP "$1I162/DOUT33" LOCATE =  SITE "U25" LEVEL 1; 
COMP "$1I162/DOUT25" LOCATE =  SITE "U19" LEVEL 1; 
COMP "$1I162/DOUT26" LOCATE =  SITE "V21" LEVEL 1; 
COMP "$1I162/DOUT18" LOCATE =  SITE "P19" LEVEL 1; 
COMP "$1I162/DOUT35" LOCATE =  SITE "T24" LEVEL 1; 
COMP "$1I162/DOUT27" LOCATE =  SITE "R18" LEVEL 1; 
COMP "$1I162/DOUT19" LOCATE =  SITE "P21" LEVEL 1; 
COMP "$1I162/DOUT34" LOCATE =  SITE "U26" LEVEL 1; 
COMP "$1I162/DOUT28" LOCATE =  SITE "R19" LEVEL 1; 
COMP "$1I162/DOUT20" LOCATE =  SITE "R20" LEVEL 1; 
COMP "$1I162/DOUT29" LOCATE =  SITE "P18" LEVEL 1; 
COMP "$1I162/DOUT21" LOCATE =  SITE "R21" LEVEL 1; 
COMP "$1I162/DOUT30" LOCATE =  SITE "V24" LEVEL 1; 
COMP "$1I162/DOUT31" LOCATE =  SITE "V25" LEVEL 1; 
COMP "$1I162/L1AIN" LOCATE =  SITE "AA2" LEVEL 1; 
COMP "$1I162/KILL7" LOCATE =  SITE "AD17" LEVEL 1; 
COMP "$1I162/KILL6" LOCATE =  SITE "AA16" LEVEL 1; 
COMP "$1I162/KILL5" LOCATE =  SITE "AA15" LEVEL 1; 
COMP "$1I162/KILL4" LOCATE =  SITE "AB15" LEVEL 1; 
COMP "$1I162/INFAKEL1_EN" LOCATE =  SITE "F21" LEVEL 1; 
COMP "$1I162/MODEIN4" LOCATE =  SITE "G2" LEVEL 1; 
COMP "$1I162/MODEIN5" LOCATE =  SITE "G1" LEVEL 1; 
COMP "$1I162/MODEIN6" LOCATE =  SITE "H7" LEVEL 1; 
COMP "$1I162/MODEIN7" LOCATE =  SITE "H6" LEVEL 1; 
COMP "$1I162/MODEIN3" LOCATE =  SITE "G3" LEVEL 1; 
COMP "$1I162/MODEIN2" LOCATE =  SITE "G4" LEVEL 1; 
COMP "$1I162/MODEIN1" LOCATE =  SITE "H5" LEVEL 1; 
COMP "$1I162/MODEIN0" LOCATE =  SITE "G5" LEVEL 1; 
COMP "$1I162/IN_BC0" LOCATE =  SITE "AB2" LEVEL 1; 
COMP "$1I162/L0_4" LOCATE =  SITE "K3" LEVEL 1; 
COMP "$1I162/L0_5" LOCATE =  SITE "L3" LEVEL 1; 
COMP "$1I162/L0_14" LOCATE =  SITE "M9" LEVEL 1; 
COMP "$1I162/L0_6" LOCATE =  SITE "K2" LEVEL 1; 
COMP "$1I162/L0_15" LOCATE =  SITE "M8" LEVEL 1; 
COMP "$1I162/L0_7" LOCATE =  SITE "K1" LEVEL 1; 
COMP "$1I162/L0_8" LOCATE =  SITE "L7" LEVEL 1; 
COMP "$1I162/L0_0" LOCATE =  SITE "K8" LEVEL 1; 
COMP "$1I162/L0_9" LOCATE =  SITE "M7" LEVEL 1; 
COMP "$1I162/L0_1" LOCATE =  SITE "L8" LEVEL 1; 
COMP "$1I162/L0_10" LOCATE =  SITE "L6" LEVEL 1; 
COMP "$1I162/L0_2" LOCATE =  SITE "K5" LEVEL 1; 
COMP "$1I162/L0_11" LOCATE =  SITE "L5" LEVEL 1; 
COMP "$1I162/L0_3" LOCATE =  SITE "K4" LEVEL 1; 
COMP "$1I162/L0_12" LOCATE =  SITE "L2" LEVEL 1; 
COMP "$1I162/L0_13" LOCATE =  SITE "L1" LEVEL 1; 
COMP "$1I162/~OWEN0" LOCATE =  SITE "J24" LEVEL 1; 
COMP "$1I162/~OWEN1" LOCATE =  SITE "R26" LEVEL 1; 
COMP "$1I162/CLKOUTX0" LOCATE =  SITE "J21" LEVEL 1; 
COMP "$1I162/IN_FPGAID" LOCATE =  SITE "C25" LEVEL 1; 
COMP "$1I162/ORST_TO_VME" LOCATE =  SITE "E26" LEVEL 1; 
COMP "$1I162/~OSEN0" LOCATE =  SITE "J25" LEVEL 1; 
COMP "$1I162/FSEL0_0" LOCATE =  SITE "K23" LEVEL 1; 
COMP "$1I162/SI0" LOCATE =  SITE "J20" LEVEL 1; 
COMP "$1I162/FSEL0_1" LOCATE =  SITE "K24" LEVEL 1; 
COMP "$1I162/~PLD0" LOCATE =  SITE "J19" LEVEL 1; 
COMP "$1I162/~L1RST" LOCATE =  SITE "AA5" LEVEL 1; 
COMP "$1I162/CLKIN40" LOCATE =  SITE "AD14" LEVEL 1; 
COMP "$1I162/~FMT1IN" LOCATE =  SITE "W12" LEVEL 1; 
COMP "$1I162/~FMT0IN" LOCATE =  SITE "Y12" LEVEL 1; 
COMP "$1I162/~ACTOUT0" LOCATE =  SITE "AA13" LEVEL 1; 
COMP "$1I162/~RDYOUT" LOCATE =  SITE "AD12" LEVEL 1; 
COMP "$1I162/L1_4" LOCATE =  SITE "R1" LEVEL 1; 
COMP "$1I162/L1_5" LOCATE =  SITE "R2" LEVEL 1; 
COMP "$1I162/CK80N_T" LOCATE =  SITE "C13" LEVEL 1; 
COMP "$1I162/L1_14" LOCATE =  SITE "T5" LEVEL 1; 
COMP "$1I162/L1_6" LOCATE =  SITE "R4" LEVEL 1; 
COMP "$1I162/CK80P_T" LOCATE =  SITE "B13" LEVEL 1; 
COMP "$1I162/L1_15" LOCATE =  SITE "T6" LEVEL 1; 
COMP "$1I162/L1_7" LOCATE =  SITE "R5" LEVEL 1; 
COMP "$1I162/L1_8" LOCATE =  SITE "P6" LEVEL 1; 
COMP "$1I162/L1_0" LOCATE =  SITE "P4" LEVEL 1; 
COMP "$1I162/L1_9" LOCATE =  SITE "R6" LEVEL 1; 
COMP "$1I162/L1_1" LOCATE =  SITE "P5" LEVEL 1; 
COMP "$1I162/~ACTOUT1" LOCATE =  SITE "AC12" LEVEL 1; 
COMP "$1I162/L1_10" LOCATE =  SITE "R8" LEVEL 1; 
COMP "$1I162/L1_2" LOCATE =  SITE "P8" LEVEL 1; 
COMP "$1I162/L1_11" LOCATE =  SITE "R9" LEVEL 1; 
COMP "$1I162/L1_3" LOCATE =  SITE "P9" LEVEL 1; 
COMP "$1I162/L1_12" LOCATE =  SITE "T1" LEVEL 1; 
COMP "$1I162/L1_13" LOCATE =  SITE "T2" LEVEL 1; 
COMP "$1I162/F0_SYNC" LOCATE =  SITE "C15" LEVEL 1; 
COMP "$1I162/F0_ERROR" LOCATE =  SITE "D15" LEVEL 1; 
COMP "$1I162/F0_WARN" LOCATE =  SITE "J14" LEVEL 1; 
COMP "$1I162/F3_BUSY" LOCATE =  SITE "C17" LEVEL 1; 
COMP "$1I162/F2_BUSY" LOCATE =  SITE "H15" LEVEL 1; 
COMP "$1I162/F1_BUSY" LOCATE =  SITE "F14" LEVEL 1; 
COMP "$1I162/F3_WARN" LOCATE =  SITE "D17" LEVEL 1; 
COMP "$1I162/F2_WARN" LOCATE =  SITE "J15" LEVEL 1; 
COMP "$1I162/F1_WARN" LOCATE =  SITE "E15" LEVEL 1; 
COMP "$1I162/F3_SYNC" LOCATE =  SITE "E16" LEVEL 1; 
COMP "$1I162/F2_SYNC" LOCATE =  SITE "F16" LEVEL 1; 
COMP "$1I162/F1_SYNC" LOCATE =  SITE "F15" LEVEL 1; 
COMP "$1I162/F3_ERROR" LOCATE =  SITE "E17" LEVEL 1; 
COMP "$1I162/F2_ERROR" LOCATE =  SITE "G16" LEVEL 1; 
COMP "$1I162/F1_ERROR" LOCATE =  SITE "G15" LEVEL 1; 
COMP "$1I162/RD0_WARN" LOCATE =  SITE "AB19" LEVEL 1; 
COMP "$1I162/~SOFTRST" LOCATE =  SITE "AB4" LEVEL 1; 
COMP "$1I162/RD0_ERROR" LOCATE =  SITE "AD20" LEVEL 1; 
COMP "$1I162/RD0_BUSY" LOCATE =  SITE "AE19" LEVEL 1; 
COMP "$1I162/LED0" LOCATE =  SITE "J3" LEVEL 1; 
COMP "$1I162/F0_BUSY" LOCATE =  SITE "H14" LEVEL 1; 
COMP "$1I162/LED1" LOCATE =  SITE "J4" LEVEL 1; 
COMP "$1I162/RST" LOCATE =  SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4; 
COMP "$1I162/$2I4683/RST_HOLD" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/$2I2822/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2822/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2822/STAT11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2822/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2822/STAT15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2822/STAT13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2822/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2822/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2874/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2874/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2874/STAT11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2874/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2874/STAT15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2874/STAT13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2874/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2874/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2878/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2878/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2878/STAT11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2878/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2878/STAT15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2878/STAT13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2878/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2878/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/LFFULL9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/$1I2371/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2371/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2371/STAT11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2371/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2371/STAT15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2371/STAT13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2371/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2371/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1891/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1891/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1891/STAT11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1891/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1891/STAT15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1891/STAT13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1891/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1891/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1891/STAT19" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1891/STAT21" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1891/STAT17" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1891/STAT23" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1891/STAT27" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1891/STAT29" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1891/STAT25" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1891/STAT31" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2911/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2911/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2911/STAT11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2911/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2911/STAT15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2911/STAT13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2911/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2911/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/LFFULL11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/$1I2380/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2380/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2380/STAT11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2380/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2380/STAT15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2380/STAT13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2380/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2803/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2380/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2624/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2803/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2624/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2803/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2624/STAT11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2624/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2624/STAT15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2624/STAT13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2803/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2803/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2624/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2624/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2827/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2827/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2827/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2827/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2827/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2759/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2676/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2759/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2676/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2759/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2676/STAT11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2676/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2676/STAT15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2676/STAT13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2759/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2759/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2676/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2676/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2676/STAT19" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2676/STAT21" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2676/STAT23" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2676/STAT17" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2832/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2832/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2832/STAT11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2832/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2832/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2832/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2868/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2868/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2868/STAT11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2868/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2868/STAT15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2868/STAT13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2868/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2868/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2812/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2812/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2812/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2812/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2812/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2637/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2637/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2637/STAT11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2637/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2637/STAT15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2637/STAT13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2637/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2748/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2637/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2748/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2748/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2748/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2748/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2788/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2788/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2788/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2788/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$3I2788/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I2606/Q3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 
4;
COMP "$1I162/$2I4683/$2I2833/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2833/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2833/STAT11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2833/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2833/STAT15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2833/STAT13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2833/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2833/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2829/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2829/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2829/STAT11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2829/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2829/STAT15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2829/STAT13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2829/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/F1" LOCATE =  SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4; 
COMP "$1I162/$2I4683/$2I2829/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2865/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2857/STAT3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2865/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2857/STAT1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2865/STAT11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2857/STAT11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2865/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2857/STAT7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2865/STAT15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2857/STAT15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2865/STAT13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2857/STAT13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2865/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2857/STAT9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2865/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$2I2857/STAT5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1760/DF1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/LSTATC1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LSTATC3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LSTATC5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LSTATC7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LSTATC9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LFFULL1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LFFULL3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LFFULL5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LFFULL7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LRXERR1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LRXERR3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LRXERR5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LRXERR7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LSTATB1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LSTATB3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LSTATB5" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LSTATB7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LSTATB9" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LSTATC11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LSTATC13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LSTATC15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/$1I2606/Q0" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 
4;
COMP "$1I162/$2I4683/LSTATB11" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LSTATB13" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/LSTATB15" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4;
COMP "$1I162/$2I4683/$1I1760/RAW7" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1760/RAW2" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1760/D3" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 
4;
COMP "$1I162/$2I4683/$1I1760/RAW6" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1760/D4" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 
4;
COMP "$1I162/$2I4683/TDO1" LOCATE =  SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 4; 
COMP "$1I162/$2I4683/$1I1760/D1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" LEVEL 
4;
COMP "$1I162/$2I4683/$1I1760/RAW4" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
COMP "$1I162/$2I4683/$1I1760/D2F1" LOCATE = SITE "SLICE_X8Y46:SLICE_X35Y65" 
LEVEL 4;
NET "$1I162/CLK" PERIOD =  10.800 nS   HIGH 50.000000 % ;
NET "$1I162/$1I4631/L1A_PUSH" MAXDELAY = 1000 pS  ;
NET "$1I162/CKIN40" PERIOD =  23 nS   HIGH 50.000000 % ;
NET "$1I162/BREF" PERIOD =  11.300 nS   HIGH 50.000000 % ;
NET "$1I162/RHL5" MAXDELAY = 2 nS  ;
TIMEGRP "OUTDAT" = BEL "$1I162/$1I3454" BEL "$1I162/$1I4183" ; 
PIN "$1I162/$2I4683/$1I2515_pins<3>" = BEL "$1I162/$2I4683/$1I2515" NET 
"$1I162/RST" ;
PIN "$1I162/$2I4683/$1I2515_pins<3>"  TIG ;
PIN "$1I162/$2I4683/$1I2533_pins<2>" = NET "$1I162/$2I4940/INT" BEL 
"$1I162/$2I4683/$1I2533" ;
PIN "$1I162/$2I4683/$1I2533_pins<2>"  TIG ;
PIN "$1I162/$2I4683/$1I2533_pins<3>" = NET "$1I162/~PWR-ON-RST" BEL 
"$1I162/$2I4683/$1I2533" ;
PIN "$1I162/$2I4683/$1I2533_pins<3>"  TIG ;
SCHEMATIC END ;
