
#PINLOCK_BEGIN
#Thurs Oct 15 14:17:16 2003
#INPUTS
# Clock & Control signals in:
#   from switches (added 4)
NET "$1I162/~SOFTRST" LOC =  "AB4";
NET "$1I162/EV_RST"   LOC =  "AB1"; #l1arst
NET "$1I162/~L1RST"   LOC =  "AA5"; #syncrst
#NET "$1I162/BXRIN"    LOC =  "";   # not used
#NET "$1I162/BX0IN"    LOC =  "AB2"; #bc0out
NET "$1I162/MODEIN7"  LOC =  "H6";
NET "$1I162/MODEIN6"  LOC =  "H7";
NET "$1I162/MODEIN5"  LOC =  "G1";
NET "$1I162/MODEIN4"  LOC =  "G2";
NET "$1I162/MODEIN3"  LOC =  "G3";
NET "$1I162/MODEIN2"  LOC =  "G4";
NET "$1I162/MODEIN1"  LOC =  "H5";
NET "$1I162/MODEIN0"  LOC =  "G5";
NET "$1I162/L1AIN"    LOC =  "AA2"; #l1aout
NET "$1I162/IN_FPGAID" LOC = "C25"; #fpgaid
#NET "$1I162/SCLKIN"   LOC =  "E14"; #sclk
NET "$1I162/CLKIN40"  LOC =  "AD14";#spare_clk, gclk_s
NET "$1I162/CK80P_T"  LOC =  "B13"; #clk80p0, gclk_s
NET "$1I162/CK80N_T"  LOC =  "C13"; #clk80n0, gclk_p
NET "$1I162/CK80P_B"  LOC =  "AD13";#clk80p1, gclk_p
NET "$1I162/CK80N_B"  LOC =  "AE13";#clk80n1, gclk_s
#
#
#FIFO Status Signals in:
#   from output FIFO
NET "$1I162/~PAF0IN"  LOC =  "M19";
NET "$1I162/~FF0IN"   LOC =  "M21";
#NET "$1I162/FMT0IN"   LOC =  "M18"; # not used
NET "$1I162/~PAF1IN"  LOC =  "P18";
NET "$1I162/~FF1IN"   LOC =  "P19";
#   from input FIBERs
NET "$1I162/IFOK0"    LOC =  "D1"; #fok0
NET "$1I162/IFOK1"    LOC =  "D2";
NET "$1I162/IFOK2"    LOC =  "C1";
NET "$1I162/IFOK3"    LOC =  "C2";
NET "$1I162/IFOK4"    LOC =  "AA1";
NET "$1I162/IFOK5"    LOC =  "Y5";
NET "$1I162/IFOK6"    LOC =  "W5";
NET "$1I162/IFOK7"    LOC =  "Y4";
#   KILL input FIBERs from DDU Control
NET "$1I162/KILL0"    LOC =  "AB14";
NET "$1I162/KILL1"    LOC =  "AD15";
NET "$1I162/KILL2"    LOC =  "AC15";
NET "$1I162/KILL3"    LOC =  "AA14";
NET "$1I162/KILL4"    LOC =  "AB15";
NET "$1I162/KILL5"    LOC =  "AA15";
NET "$1I162/KILL6"    LOC =  "AA16";
NET "$1I162/KILL7"    LOC =  "AD17";
#   Data signals in
NET "$1I162/RXP0"    LOC =  "A22"; #rd0+
NET "$1I162/RXN0"    LOC =  "A23"; #rd0-
NET "$1I162/RXP1"    LOC =  "A17"; #rd1+
NET "$1I162/RXN1"    LOC =  "A18"; #rd1-
NET "$1I162/RXP2"    LOC =  "A11";
NET "$1I162/RXN2"    LOC =  "A12";
NET "$1I162/RXP3"    LOC =  "A6";
NET "$1I162/RXN3"    LOC =  "A7";
#
NET "$1I162/RXP4"    LOC =  "AF6";
NET "$1I162/RXN4"    LOC =  "AF7";
NET "$1I162/RXP5"    LOC =  "AF11";
NET "$1I162/RXN5"    LOC =  "AF12";
NET "$1I162/RXP6"    LOC =  "AF17";
NET "$1I162/RXN6"    LOC =  "AF18";
NET "$1I162/RXP7"    LOC =  "AF22";
NET "$1I162/RXN7"    LOC =  "AF23";
#
NET "$1I162/TXDIN0"  LOC =  "AC1";
NET "$1I162/TXDIN1"  LOC =  "AC2";
NET "$1I162/TXDIN2"  LOC =  "AC3";
NET "$1I162/TXDIN3"  LOC =  "AD2";
NET "$1I162/TXDIN4"  LOC =  "AD1";
NET "$1I162/TXDIN5"  LOC =  "AE1";
NET "$1I162/TXDIN6"  LOC =  "AB7";
NET "$1I162/TXDIN7"  LOC =  "AC7";
NET "$1I162/TXDIN8"  LOC =  "AD7";
NET "$1I162/TXDIN9"  LOC =  "AA8";
NET "$1I162/TXDIN10" LOC =  "AB8";
NET "$1I162/TXDIN11" LOC =  "AE8";
NET "$1I162/TXDIN12" LOC =  "AF8";
NET "$1I162/TXDIN13" LOC =  "AA9";
NET "$1I162/TXDIN14" LOC =  "AB9";
NET "$1I162/TXDIN15" LOC =  "AC9";
NET "$1I162/TXEN0"   LOC =  "AC17";
NET "$1I162/TXEN1"   LOC =  "AB16";
NET "$1I162/TXEN2"   LOC =  "AB17";
NET "$1I162/TXEN3"   LOC =  "AD18";
NET "$1I162/TXEN4"   LOC =  "AC18";
NET "$1I162/TXEN5"   LOC =  "AB18";
NET "$1I162/TXEN6"   LOC =  "AA18";
NET "$1I162/TXEN7"   LOC =  "AF19";
#
#
#OUTPUTS
#   diagnostic signals out to LEDs:
NET "$1I162/LED0"   LOC =  "J3";
NET "$1I162/LED1"   LOC =  "J4";
NET "$1I162/LED2"   LOC =  "J5";
NET "$1I162/LED3"   LOC =  "J6";
NET "$1I162/LED4"   LOC =  "J7";
NET "$1I162/LED5"   LOC =  "J8";
NET "$1I162/LED6"   LOC =  "H1";
NET "$1I162/LED7"   LOC =  "H2";
#
#Data signals out:
#   output FIFO control
NET "$1I162/~OWEN0"   LOC =  "N21";
NET "$1I162/CLKOUTX0" LOC =  "H26"; #clkout0
NET "$1I162/~OWEN1"   LOC =  "P22";
NET "$1I162/CLKOUTX1" LOC =  "P23"; #clkout1
#   data out to FIFOs
NET "$1I162/TXP0"    LOC =  "A21"; #td0+
NET "$1I162/TXN0"    LOC =  "A20"; #td0-
NET "$1I162/TXP1"    LOC =  "A16"; #td1+
NET "$1I162/TXN1"    LOC =  "A15"; #td1-
NET "$1I162/TXP2"    LOC =  "A10";
NET "$1I162/TXN2"    LOC =  "A9";
NET "$1I162/TXP3"    LOC =  "A5";
NET "$1I162/TXN3"    LOC =  "A4";
#
NET "$1I162/TXP4"    LOC =  "AF5";
NET "$1I162/TXN4"    LOC =  "AF4";
NET "$1I162/TXP5"    LOC =  "AF10";
NET "$1I162/TXN5"    LOC =  "AF9";
NET "$1I162/TXP6"    LOC =  "AF16";
NET "$1I162/TXN6"    LOC =  "AF15";
NET "$1I162/TXP7"    LOC =  "AF21";
NET "$1I162/TXN7"    LOC =  "AF20";
#
NET "$1I162/DOUT0"   LOC =  "J19";
NET "$1I162/DOUT1"   LOC =  "J20";
NET "$1I162/DOUT2"   LOC =  "J21";
NET "$1I162/DOUT3"   LOC =  "J22";
NET "$1I162/DOUT4"   LOC =  "J23";
NET "$1I162/DOUT5"   LOC =  "J24";
NET "$1I162/DOUT6"   LOC =  "J25";
NET "$1I162/DOUT7"   LOC =  "J26";
NET "$1I162/DOUT8"   LOC =  "K19";
NET "$1I162/DOUT9"   LOC =  "L19";
NET "$1I162/DOUT10"  LOC =  "K22";
NET "$1I162/DOUT11"  LOC =  "K23";
NET "$1I162/DOUT12"  LOC =  "K24";
NET "$1I162/DOUT13"  LOC =  "L24";
NET "$1I162/DOUT14"  LOC =  "K25";
NET "$1I162/DOUT15"  LOC =  "K26";
NET "$1I162/DOUT16"  LOC =  "L20";
NET "$1I162/DOUT17"  LOC =  "M20";
NET "$1I162/DOUT18"  LOC =  "L21";
NET "$1I162/DOUT19"  LOC =  "L22";
#
NET "$1I162/DOUT20"  LOC =  "V19";
NET "$1I162/DOUT21"  LOC =  "V20";
NET "$1I162/DOUT22"  LOC =  "V21";
NET "$1I162/DOUT23"  LOC =  "V22";
NET "$1I162/DOUT24"  LOC =  "V23";
NET "$1I162/DOUT25"  LOC =  "V24";
NET "$1I162/DOUT26"  LOC =  "V25";
NET "$1I162/DOUT27"  LOC =  "V26";
NET "$1I162/DOUT28"  LOC =  "U19";
NET "$1I162/DOUT29"  LOC =  "T19";
NET "$1I162/DOUT30"  LOC =  "U22";
NET "$1I162/DOUT31"  LOC =  "U23";
NET "$1I162/DOUT32"  LOC =  "U24";
NET "$1I162/DOUT33"  LOC =  "T24";
NET "$1I162/DOUT34"  LOC =  "U25";
NET "$1I162/DOUT35"  LOC =  "U26";
#
# Send Ready & Active 0-1 status to DDU_Ctrl
NET "$1I162/~RDYOUT"   LOC = "AD12"; #dll_ready
NET "$1I162/~ACTOUT0"  LOC = "AA13"; #fifo_active0
NET "$1I162/~ACTOUT1"  LOC = "AC12"; #fifo_active1
#
# Send RdCtrl 0-1 status to DDU_Ctrl
NET "$1I162/RD0_BUSY"  LOC = "AE19"; #rdstat0
NET "$1I162/RD0_WARN"  LOC = "AB19"; #rdstat1
NET "$1I162/RD0_SYNC"  LOC = "AA19"; #rdstat2
NET "$1I162/RD0_ERROR" LOC = "AD20"; #rdstat3
NET "$1I162/RD1_BUSY"  LOC = "AC20"; #rdstat4
NET "$1I162/RD1_WARN"  LOC = "AB20"; #rdstat5
NET "$1I162/RD1_SYNC"  LOC = "AE26"; #rdstat6
NET "$1I162/RD1_ERROR" LOC = "AD26"; #rdstat7
#
# Send DMB/Fiber 0-7 status to VME_Ctrl
NET "$1I162/F0_BUSY"  LOC =  "H14"; #dmb_stat0
NET "$1I162/F0_WARN"  LOC =  "J14"; #dmb_stat1
NET "$1I162/F0_SYNC"  LOC =  "C15"; #dmb_stat2
NET "$1I162/F0_ERROR" LOC =  "D15"; #dmb_stat3
NET "$1I162/F1_BUSY"  LOC =  "F14"; #dmb_stat4
NET "$1I162/F1_WARN"  LOC =  "E15";
NET "$1I162/F1_SYNC"  LOC =  "F15";
NET "$1I162/F1_ERROR" LOC =  "G15";
NET "$1I162/F2_BUSY"  LOC =  "H15"; #dmb_stat8
NET "$1I162/F2_WARN"  LOC =  "J15";
NET "$1I162/F2_SYNC"  LOC =  "F16";
NET "$1I162/F2_ERROR" LOC =  "G16";
NET "$1I162/F3_BUSY"  LOC =  "C17"; #dmb_stat12
NET "$1I162/F3_WARN"  LOC =  "D17";
NET "$1I162/F3_SYNC"  LOC =  "E16";
NET "$1I162/F3_ERROR" LOC =  "E17";
NET "$1I162/F4_BUSY"  LOC =  "H16"; #dmb_stat16
NET "$1I162/F4_WARN"  LOC =  "H17";
NET "$1I162/F4_SYNC"  LOC =  "C18";
NET "$1I162/F4_ERROR" LOC =  "D18";
NET "$1I162/F5_BUSY"  LOC =  "E18"; #dmb_stat20
NET "$1I162/F5_WARN"  LOC =  "F18";
NET "$1I162/F5_SYNC"  LOC =  "G18";
NET "$1I162/F5_ERROR" LOC =  "H18";
NET "$1I162/F6_BUSY"  LOC =  "A19"; #dmb_stat24
NET "$1I162/F6_WARN"  LOC =  "B19";
NET "$1I162/F6_SYNC"  LOC =  "E19";
NET "$1I162/F6_ERROR" LOC =  "F19";
NET "$1I162/F7_BUSY"  LOC =  "G19"; #dmb_stat28
NET "$1I162/F7_WARN"  LOC =  "H19";
NET "$1I162/F7_SYNC"  LOC =  "C20";
NET "$1I162/F7_ERROR" LOC =  "D20";
#
# Send FiberOK 0-7 & DAV 0-7 signals to Front Panel LEDs
NET "$1I162/FOKLED0"  LOC =  "E1"; #fokout0
NET "$1I162/FOKLED1"  LOC =  "E2";
NET "$1I162/FOKLED2"  LOC =  "F5";
NET "$1I162/FOKLED3"  LOC =  "E4";
NET "$1I162/FOKLED4"  LOC =  "Y3";
NET "$1I162/FOKLED5"  LOC =  "Y2";
NET "$1I162/FOKLED6"  LOC =  "Y1";
NET "$1I162/FOKLED7"  LOC =  "W7";
NET "$1I162/DVLED0"  LOC =  "F1"; #dav0
NET "$1I162/DVLED1"  LOC =  "F2";
NET "$1I162/DVLED2"  LOC =  "G6";
NET "$1I162/DVLED3"  LOC =  "F6";
NET "$1I162/DVLED4"  LOC =  "W6";
NET "$1I162/DVLED5"  LOC =  "W2";
NET "$1I162/DVLED6"  LOC =  "W1";
NET "$1I162/DVLED7"  LOC =  "V8";
#
#   Reserve 18 Pads for Logic Analyzer
NET "$1I162/L0_0"   LOC =  "K8"; #la0_0
NET "$1I162/L0_1"   LOC =  "L8";
NET "$1I162/L0_2"   LOC =  "K5";
NET "$1I162/L0_3"   LOC =  "K4";
NET "$1I162/L0_4"   LOC =  "K3";
NET "$1I162/L0_5"   LOC =  "L3";
NET "$1I162/L0_6"   LOC =  "K2";
NET "$1I162/L0_7"   LOC =  "K1";
NET "$1I162/L0_8"   LOC =  "L7";
NET "$1I162/L0_9"   LOC =  "M7";
NET "$1I162/L0_10"  LOC =  "L6";
NET "$1I162/L0_11"  LOC =  "L5";
NET "$1I162/L0_12"  LOC =  "L2";
NET "$1I162/L0_13"  LOC =  "L1";
NET "$1I162/L0_14"  LOC =  "M9";
NET "$1I162/L0_15"  LOC =  "M8";
NET "$1I162/L0_16"  LOC =  "J1";  #la0_clk1
NET "$1I162/L0_17"  LOC =  "J2";  #la0_clk2
#
NET "$1I162/L1_0"   LOC =  "P4";  #la1_0
NET "$1I162/L1_1"   LOC =  "P5";
NET "$1I162/L1_2"   LOC =  "P8";
NET "$1I162/L1_3"   LOC =  "P9";
NET "$1I162/L1_4"   LOC =  "R1";
NET "$1I162/L1_5"   LOC =  "R2";
NET "$1I162/L1_6"   LOC =  "R4";
NET "$1I162/L1_7"   LOC =  "R5";
NET "$1I162/L1_8"   LOC =  "P6";
NET "$1I162/L1_9"   LOC =  "R6";
NET "$1I162/L1_10"  LOC =  "R8";
NET "$1I162/L1_11"  LOC =  "R9";
NET "$1I162/L1_12"  LOC =  "T1";
NET "$1I162/L1_13"  LOC =  "T2";
NET "$1I162/L1_14"  LOC =  "T5";
NET "$1I162/L1_15"  LOC =  "T6";
NET "$1I162/L1_16"  LOC =  "P3";  #la1_clk1
NET "$1I162/L1_17"  LOC =  "P2";  #la1_clk2
#
# Foundation 3.1 does not understand high/low 50%....
#    but required for 4.2 & 5.1
#NET "$1I162/SCLKIN" period=96ns high 50%;
NET "$1I162/CLKIN40" period=23ns high 50%;
NET "$1I162/CLK"  period=10.8ns high 50%;
NET "$1I162/BREF" period=11.3ns high 50%;
NET "$1I162/BREF_B" period=11.3ns high 50%;
#NET "$1I162/CK80P_T" period=11.5ns high 50%;
#NET "$1I162/CK80P_B" period=11.5ns high 50%;
##NET "$1I162/CK80N_T" period=11.5ns high 50%;
##NET "$1I162/CK80N_B" period=11.5ns high 50%;
#NET "$1I162/$1I3030/DRCK1" period=30ns high 50%;
#NET "$1I162/$1I3030/DRCK2" period=30ns high 50%;
#NET "$1I162/$6I717/SLOWCLK2" period=20ns high 50%;
#TIMEGRP "INMT" OFFSET = IN 7.6ns AFTER "$1I162/CK80P_T";
#TIMEGRP "INDAT" OFFSET = IN 8.0ns AFTER "$1I162/CK80P_T";
#TIMEGRP "OUTDAT" OFFSET = OUT 4.6ns BEFORE "$1I162/CK80P_T";
#
#
## VIRTEX 2 Geometry Summary (XC2VP20-FG676):
#	4 Slices per CLB, 2 TBUFs per CLB
#	2 LUTs per Slice, 2 FDs per Slice (share common RST/CE/CLK)
#	2 Fast Carry MUXCYs per Slice, plus 1 Fast ORCY
#	1 MUXF5 and 1 MUXFx per Slice (x=6,7 or 8)
#
# For "Normal" Coords (x,y) Slices, TBUFs, RAMBs, etc all have
#	independent coordinate origins, so use GRID coords if
#	you must combine diffferent types of components.
#	Component coordinate ranges:
#		SLICE  x0y0 to x91y111
#		TBUF   x0y0 to x90y111, even x only
#		RAMB16 x0y0 to x7y13 (88 total)
#		GT     x0y0 to x3y1  (8 total)
#		DCM    x0y0 to x3y1  (8 total)
#		MULT18X18 x0y0 to x7y13 (88 total)
#
# In GRID Coords (X,Y) bottom left is X3Y4, top right is X138Y227
#	X value cycles through SLICE-TBUF-SPECIAL with increasing X
# 		-X3Y4 is a SLICE, so is X138Y227
#		-SPECIAL is RAMB/MULT or GT or DCM
#		-SPECIAL only exists at X=8,26,44,62,80,98,116,134
#		   RAMB/MULT exist at all these X locations
#		   GTs at X=26,62,80,116  .and.  Y=19,227
#		   DCMs at X=8,44,98,134  .and.  Y=3,231
#	Y values are continuous for Slices, except for PPC holes
#		-TBUFs are only even in Y (2 per CLB)
#		-RAMBs are spaced 16 apart in Y,
#		   starting at Y=35 on GT columns, Y=19 otherwise
#		   (GTs effectively take up a RAMB spot)
#		-MULTs are 1 lower in Y than RAMB (at Y_RAMB - 1)
#
# PPC "Dead Zone" holes:
#    No TBUFS from x14y40 to x58y71   .and.   x62y40 to x76y71
#	    GRID:  X23Y88 to X47Y143  .and.  X95Y88 to X119Y143
#
#
###################
# JTAG AREA GROUP
###################
INST "$1I162/$2I4683" AREA_GROUP = AG_JTAG; #Def AreaGrp
INST "$1I162/$2I4683" LOC = SLICE_X8Y46:SLICE_X35Y65;#LocSLx8y48x55y63
#AREA_GROUP "AG_JTAG" RANGE = SLICE_X8Y46:SLICE_X35Y65;#LocSLx8y48x55y63
#AREA_GROUP "AG_JTAG" RANGE = TBUF_X8Y46:TBUF_X34Y65; #LocTB x8y48x54y63
AREA_GROUP "AG_JTAG" COMPRESSION = 1;
#
#################
# IN_UNIT0-3 RLOC
#################
# #0  AF_CLB_5x31:
SET "$1I162/$1I4610/$1I4152/af_clb_5x31rpm/mem/distmem/dist_mem/DPRAM" RLOC_ORIGIN = X102Y204; #mAF_CLB sli_x66y100-->sli_x68y102 RLOC = X0Y0 X105Y208
SET "$1I162/$1I4610/$1I4152/af_clb_5x31rpm/control/rd_blk" RLOC_ORIGIN = X108Y216;     #rAF_CLB_5x31 RLOC = X6Y12 X111Y220
SET "$1I162/$1I4610/$1I4152/af_clb_5x31rpm/control/wr_blk" RLOC_ORIGIN = X102Y216;     #wAF_CLB_5x31 RLOC = X0Y12 X105Y220
INST "$1I162/$1I4610/$1I4328" RLOC_ORIGIN = X105Y208; #GT9, SLI_X68Y102
#INST "$1I162/$1I4610/hset" RLOC_ORIGIN = X105Y208; #GT9, SLI_X68Y102
INST "$1I162/$1I4610/$1I3863" LOC = GT_X3Y1; #GT7, SLI_X44Y102
# #1  AF_CLB_5x31:
SET "$1I162/$3I4836/$1I4152/af_clb_5x31rpm/mem/distmem/dist_mem/DPRAM" RLOC_ORIGIN = X66Y204; #mAF_CLB
SET "$1I162/$3I4836/$1I4152/af_clb_5x31rpm/control/rd_blk" RLOC_ORIGIN = X72Y216;     #rAF_CLB_5x31
SET "$1I162/$3I4836/$1I4152/af_clb_5x31rpm/control/wr_blk" RLOC_ORIGIN = X66Y216;     #wAF_CLB_5x31 RLOC = X0Y12 X105Y220
INST "$1I162/$3I4836/$1I4328" RLOC_ORIGIN = X69Y208; #GT7, SLI_X44Y102
#INST "$1I162/$3I4836/hset" RLOC_ORIGIN = X69Y208; #GT7, SLI_X44Y102
INST "$1I162/$3I4836/$1I3863" LOC = GT_X2Y1; #GT7, SLI_X44Y102
# #2  AF_CLB_5x31:
SET "$1I162/$3I4841/$1I4152/af_clb_5x31rpm/mem/distmem/dist_mem/DPRAM" RLOC_ORIGIN = X48Y204; #mAF_CLB
SET "$1I162/$3I4841/$1I4152/af_clb_5x31rpm/control/rd_blk" RLOC_ORIGIN = X54Y216;     #rAF_CLB_5x31
SET "$1I162/$3I4841/$1I4152/af_clb_5x31rpm/control/wr_blk" RLOC_ORIGIN = X48Y216;     #wAF_CLB_5x31 RLOC = X0Y12 X105Y220
INST "$1I162/$3I4841/$1I4328" RLOC_ORIGIN = X51Y208; #GT7, SLI_X32Y102
#INST "$1I162/$3I4841/hset" RLOC_ORIGIN = X51Y208; #GT7, SLI_X32Y102
INST "$1I162/$3I4841/$1I3863" LOC = GT_X1Y1; #GT7, SLI_X44Y102
# #3  AF_CLB_5x31:
SET "$1I162/$3I4844/$1I4152/af_clb_5x31rpm/mem/distmem/dist_mem/DPRAM" RLOC_ORIGIN = X12Y204; #mAF_CLB
SET "$1I162/$3I4844/$1I4152/af_clb_5x31rpm/control/rd_blk" RLOC_ORIGIN = X18Y216;     #rAF_CLB_5x31
SET "$1I162/$3I4844/$1I4152/af_clb_5x31rpm/control/wr_blk" RLOC_ORIGIN = X12Y216;     #wAF_CLB_5x31 RLOC = X0Y12 X105Y220
INST "$1I162/$3I4844/$1I4328" RLOC_ORIGIN = X15Y208; #GT7, SLI_X8Y102
#INST "$1I162/$3I4844/hset" RLOC_ORIGIN = X15Y208; #GT7, SLI_X8Y102
INST "$1I162/$3I4844/$1I3863" LOC = GT_X0Y1; #GT7, SLI_X44Y102
#
#
#################
# IN_UNIT4-7 RLOC
#################
# #4  AF_CLB_5x31:
SET "$1I162/$5I4677/$1I4152/af_clb_5x31rpm/mem/distmem/dist_mem/DPRAM" RLOC_ORIGIN = X12Y0; #mAF_CLB sli_x6y0-->sli_x8y0 RLOC = X0Y0 X12Y0
SET "$1I162/$5I4677/$1I4152/af_clb_5x31rpm/control/rd_blk" RLOC_ORIGIN = X18Y8;     #rAF_CLB_5x31 RLOC = X6Y12 X18Y12
SET "$1I162/$5I4677/$1I4152/af_clb_5x31rpm/control/wr_blk" RLOC_ORIGIN = X12Y12;     #wAF_CLB_5x31 RLOC = X0Y12 X12Y12
INST "$1I162/$5I4677/$1I3863" RLOC_ORIGIN = X15Y4; #GT21, SLI_X8Y0
INST "$1I162/$5I4677/$1I3863" LOC = GT_X0Y0; #GT21, SLI_X8Y0
# #5  AF_CLB_5x31:
SET "$1I162/$6I4961/$1I4152/af_clb_5x31rpm/mem/distmem/dist_mem/DPRAM" RLOC_ORIGIN = X48Y0; #mAF_CLB
SET "$1I162/$6I4961/$1I4152/af_clb_5x31rpm/control/rd_blk" RLOC_ORIGIN = X54Y8;     #rAF_CLB_5x31 RLOC = X6Y12 X54Y12
SET "$1I162/$6I4961/$1I4152/af_clb_5x31rpm/control/wr_blk" RLOC_ORIGIN = X48Y12;     #wAF_CLB_5x31 RLOC = X0Y12 X48Y12
INST "$1I162/$6I4961/$1I3863" RLOC_ORIGIN = X51Y4; #GT19, SLI_X32Y0
INST "$1I162/$6I4961/$1I3863" LOC = GT_X1Y0; #GT19, SLI_X32Y0
# #6  AF_CLB_5x31:
SET "$1I162/$6I4956/$1I4152/af_clb_5x31rpm/mem/distmem/dist_mem/DPRAM" RLOC_ORIGIN = X66Y0; #mAF_CLB
SET "$1I162/$6I4956/$1I4152/af_clb_5x31rpm/control/rd_blk" RLOC_ORIGIN = X72Y8;     #rAF_CLB_5x31 RLOC = X6Y12 X72Y12
SET "$1I162/$6I4956/$1I4152/af_clb_5x31rpm/control/wr_blk" RLOC_ORIGIN = X66Y12;     #wAF_CLB_5x31 RLOC = X0Y12 X66Y12
INST "$1I162/$6I4956/$1I3863" RLOC_ORIGIN = X69Y4; #GT18, SLI_X44Y0
INST "$1I162/$6I4956/$1I3863" LOC = GT_X2Y0; #GT18, SLI_X44Y0
# #7  AF_CLB_5x31:
SET "$1I162/$6I4959/$1I4152/af_clb_5x31rpm/mem/distmem/dist_mem/DPRAM" RLOC_ORIGIN = X102Y0; #mAF_CLB
SET "$1I162/$6I4959/$1I4152/af_clb_5x31rpm/control/rd_blk" RLOC_ORIGIN = X108Y8;     #rAF_CLB_5x31 RLOC = X6Y12 X108Y12
SET "$1I162/$6I4959/$1I4152/af_clb_5x31rpm/control/wr_blk" RLOC_ORIGIN = X102Y12;     #wAF_CLB_5x31 RLOC = X0Y12 X102Y12
INST "$1I162/$6I4959/$1I3863" RLOC_ORIGIN = X105Y4; #GT16, SLI_X68Y0
INST "$1I162/$6I4959/$1I3863" LOC = GT_X3Y0; #GT16, SLI_X68Y0
#
#
#################
# MEM_UNIT RLOC
#################
# --Corner 0--
#  Define Global Location for MU0:
INST "$1I162/$1I4143/$1I4507" RLOC_ORIGIN = X129Y100;#WR_SEL FDCE
INST "$1I162/$1I4143/$1I4488" RLOC_ORIGIN = X129Y100;#SF_BRAM,SL_X84Y48
INST "$1I162/$1I4143" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU1:
INST "$1I162/$3I4417/$1I4507" RLOC_ORIGIN = X129Y132;#WR_SEL FDCE
INST "$1I162/$3I4417/$1I4488" RLOC_ORIGIN = X129Y132;#SF_BRAM,SL_X84Y64
INST "$1I162/$3I4417" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU2:
INST "$1I162/$3I4392/$1I4507" RLOC_ORIGIN = X129Y164;#WR_SEL FDCE
INST "$1I162/$3I4392/$1I4488" RLOC_ORIGIN = X129Y164;#SF_BRAM,SL_X84Y80
INST "$1I162/$3I4392" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU3:
INST "$1I162/$3I4329/$1I4507" RLOC_ORIGIN = X129Y196;#WR_SEL FDCE
INST "$1I162/$3I4329/$1I4488" RLOC_ORIGIN = X129Y196;#SF_BRAM,SL_X84Y96
INST "$1I162/$3I4329" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU4:
INST "$1I162/$3I4526/$1I4507" RLOC_ORIGIN = X111Y148;#WR_SEL FDCE
INST "$1I162/$3I4526/$1I4488" RLOC_ORIGIN = X111Y148;#SF_BRAM,SL_X72Y72
INST "$1I162/$3I4526" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU5:
INST "$1I162/$3I4496/$1I4507" RLOC_ORIGIN = X111Y180;#WR_SEL FDCE
INST "$1I162/$3I4496/$1I4488" RLOC_ORIGIN = X111Y180;#SF_BRAM,SL_X72Y88
INST "$1I162/$3I4496" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU6:
INST "$1I162/$3I4365/$1I4507" RLOC_ORIGIN = X93Y196; #WR_SEL FDCE
INST "$1I162/$3I4365/$1I4488" RLOC_ORIGIN = X93Y196; #SF_BRAM,SL_X60Y96
INST "$1I162/$3I4365" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU7:
INST "$1I162/$3I4551/$1I4507" RLOC_ORIGIN = X93Y164; #WR_SEL FDCE
INST "$1I162/$3I4551/$1I4488" RLOC_ORIGIN = X93Y164; #SF_BRAM,SL_X60Y80
INST "$1I162/$3I4551" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for *MU8*:
INST "$1I162/$4I4630/$1I4507" RLOC_ORIGIN = X75Y148;#WR_SEL FDCE
INST "$1I162/$4I4630/$1I4488" RLOC_ORIGIN = X75Y148;#SF_BRAM,SL_X48Y72
INST "$1I162/$4I4630" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU9:
INST "$1I162/$3I4489/$1I4507" RLOC_ORIGIN = X75Y132; #WR_SEL FDCE
INST "$1I162/$3I4489/$1I4488" RLOC_ORIGIN = X75Y132; #SF_BRAM,SL_X48Y64
INST "$1I162/$3I4489" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU10:
INST "$1I162/$3I4464/$1I4507" RLOC_ORIGIN = X75Y180; #WR_SEL FDCE
INST "$1I162/$3I4464/$1I4488" RLOC_ORIGIN = X75Y180; #SF_BRAM,SL_X48Y88
INST "$1I162/$3I4464" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
# --Corner 1--
#  Define Global Location for MU16:
INST "$1I162/$4I4329/$1I4507" RLOC_ORIGIN = X3Y132; #WR_SEL FDCE
INST "$1I162/$4I4329/$1I4488" RLOC_ORIGIN = X3Y132; #SF_BRAM,SLI_X0Y64
INST "$1I162/$4I4329" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU17:
INST "$1I162/$4I4399/$1I4507" RLOC_ORIGIN = X3Y164; #WR_SEL FDCE
INST "$1I162/$4I4399/$1I4488" RLOC_ORIGIN = X3Y164; #SF_BRAM,SLI_X0Y80
INST "$1I162/$4I4399" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU18:
INST "$1I162/$4I4365/$1I4507" RLOC_ORIGIN = X3Y196; #WR_SEL FDCE
INST "$1I162/$4I4365/$1I4488" RLOC_ORIGIN = X3Y196; #SF_BRAM,SLI_X0Y96
INST "$1I162/$4I4365" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU19:
INST "$1I162/$4I4426/$1I4507" RLOC_ORIGIN = X21Y148; #WR_SEL FDCE
INST "$1I162/$4I4426/$1I4488" RLOC_ORIGIN = X21Y148; #SF_BRAM,SL_X12Y72
INST "$1I162/$4I4426" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU20:
INST "$1I162/$4I4475/$1I4507" RLOC_ORIGIN = X21Y180; #WR_SEL FDCE
INST "$1I162/$4I4475/$1I4488" RLOC_ORIGIN = X21Y180; #SF_BRAM,SL_X12Y88
INST "$1I162/$4I4475" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU21:
INST "$1I162/$4I4476/$1I4507" RLOC_ORIGIN = X39Y196; #WR_SEL FDCE
INST "$1I162/$4I4476/$1I4488" RLOC_ORIGIN = X39Y196; #SF_BRAM,SL_X24Y96
INST "$1I162/$4I4476" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU22:
INST "$1I162/$4I4501/$1I4507" RLOC_ORIGIN = X39Y164; #WR_SEL FDCE
INST "$1I162/$4I4501/$1I4488" RLOC_ORIGIN = X39Y164; #SF_BRAM,SL_X24Y80
INST "$1I162/$4I4501" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU23:
INST "$1I162/$4I4526/$1I4507" RLOC_ORIGIN = X57Y100; #WR_SEL FDCE
INST "$1I162/$4I4526/$1I4488" RLOC_ORIGIN = X57Y100; #SF_BRAM,SL_X36Y48
INST "$1I162/$4I4526" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for *MU24*:
INST "$1I162/$4I4657/$1I4507" RLOC_ORIGIN = X39Y132;#WR_SEL FDCE
INST "$1I162/$4I4657/$1I4488" RLOC_ORIGIN = X39Y132;#SF_BRAM,SL_X24Y64
INST "$1I162/$4I4657" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU25:
INST "$1I162/$4I4560/$1I4507" RLOC_ORIGIN = X57Y148; #WR_SEL FDCE
INST "$1I162/$4I4560/$1I4488" RLOC_ORIGIN = X57Y148; #SF_BRAM,SL_X36Y72
INST "$1I162/$4I4560" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
#  Define Global Location for MU26:
INST "$1I162/$4I4611/$1I4507" RLOC_ORIGIN = X57Y180; #WR_SEL FDCE
INST "$1I162/$4I4611/$1I4488" RLOC_ORIGIN = X57Y180; #SF_BRAM,SL_X36Y88
INST "$1I162/$4I4611" AREA_GROUP = AG_MEMTBUF_UP; #Def AreaGrp
AREA_GROUP "AG_MEMTBUF_UP" RANGE = TBUF_X0Y62:TBUF_X90Y106; #LocTBUF
#AREA_GROUP "AG_MEMTBUF_UP" RANGE = TBUF_X0Y56:TBUF_X90Y111; #LocTBUF
#AREA_GROUP "AG_MEMTBUF_UP" RANGE = TBUF_X0Y80:TBUF_X90Y111; #LocTBUF
# --Corner 2--
#  Define Global Location for MU32:
INST "$1I162/$5I4143/$1I4507" RLOC_ORIGIN = X3Y100; #WR_SEL FDCE
INST "$1I162/$5I4143/$1I4488" RLOC_ORIGIN = X3Y100; #SF_BRAM,SLI_X0Y48
INST "$1I162/$5I4143" LOC = TBUF_X0Y5:TBUF_X0Y49;
INST "$1I162/$5I4143" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU33:
INST "$1I162/$6I4143/$1I4507" RLOC_ORIGIN = X3Y68; #WR_SEL FDCE
INST "$1I162/$6I4143/$1I4488" RLOC_ORIGIN = X3Y68; #SF_BRAM,SLI_X0Y32
INST "$1I162/$6I4143" LOC = TBUF_X2Y5:TBUF_X2Y49;
INST "$1I162/$6I4143" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU34:
INST "$1I162/$6I4479/$1I4507" RLOC_ORIGIN = X3Y36; #WR_SEL FDCE
INST "$1I162/$6I4479/$1I4488" RLOC_ORIGIN = X3Y36; #SF_BRAM,SLI_X0Y16
INST "$1I162/$6I4479" LOC = TBUF_X4Y5:TBUF_X4Y49;
INST "$1I162/$6I4479" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU35:
INST "$1I162/$6I4504/$1I4507" RLOC_ORIGIN = X3Y4; #WR_SEL FDCE
INST "$1I162/$6I4504/$1I4488" RLOC_ORIGIN = X3Y4; #SF_BRAM,SLI_X0Y0
INST "$1I162/$6I4504" LOC = TBUF_X6Y5:TBUF_X6Y49;
INST "$1I162/$6I4504" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU36:
INST "$1I162/$6I4529/$1I4507" RLOC_ORIGIN = X21Y52; #WR_SEL FDCE
INST "$1I162/$6I4529/$1I4488" RLOC_ORIGIN = X21Y52; #SF_BRAM,SL_X12Y24
INST "$1I162/$6I4529" LOC = TBUF_X8Y5:TBUF_X8Y49;
INST "$1I162/$6I4529" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU37:
INST "$1I162/$6I4575/$1I4507" RLOC_ORIGIN = X21Y20; #WR_SEL FDCE
INST "$1I162/$6I4575/$1I4488" RLOC_ORIGIN = X21Y20; #SF_BRAM,SLI_X12Y8
INST "$1I162/$6I4575" LOC = TBUF_X10Y5:TBUF_X10Y49;
INST "$1I162/$6I4575" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU38:
INST "$1I162/$6I4598/$1I4507" RLOC_ORIGIN = X39Y4; #WR_SEL FDCE
INST "$1I162/$6I4598/$1I4488" RLOC_ORIGIN = X39Y4; #SF_BRAM,SLI_X24Y0
INST "$1I162/$6I4598" LOC = TBUF_X30Y5:TBUF_X30Y49;
INST "$1I162/$6I4598" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU39:
INST "$1I162/$6I4614/$1I4507" RLOC_ORIGIN = X39Y36; #WR_SEL FDCE
INST "$1I162/$6I4614/$1I4488" RLOC_ORIGIN = X39Y36; #SF_BRAM,SL_X24Y16
INST "$1I162/$6I4614" LOC = TBUF_X12Y5:TBUF_X12Y49;
INST "$1I162/$6I4614" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for *MU40*:
INST "$1I162/$7I5013/$1I4507" RLOC_ORIGIN = X39Y52; #WR_SEL FDCE
INST "$1I162/$7I5013/$1I4488" RLOC_ORIGIN = X39Y52; #SF_BRAM,SL_X24Y24
INST "$1I162/$7I5013" LOC = TBUF_X32Y5:TBUF_X32Y49;
INST "$1I162/$7I5013" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU41:
INST "$1I162/$6I4641/$1I4507" RLOC_ORIGIN = X57Y68; #WR_SEL FDCE
INST "$1I162/$6I4641/$1I4488" RLOC_ORIGIN = X57Y68; #SF_BRAM,SL_X36Y32
INST "$1I162/$6I4641" LOC = TBUF_X34Y5:TBUF_X34Y49;
INST "$1I162/$6I4641" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU42:
INST "$1I162/$6I4686/$1I4507" RLOC_ORIGIN = X57Y20; #WR_SEL FDCE
INST "$1I162/$6I4686/$1I4488" RLOC_ORIGIN = X57Y20; #SF_BRAM,SLI_X36Y8
INST "$1I162/$6I4686" LOC = TBUF_X36Y5:TBUF_X36Y49;
INST "$1I162/$6I4686" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#AREA_GROUP "AG_MEMTBUF_C2" RANGE = TBUF_X0Y0:TBUF_X44Y31; #LocTBUF
# --Corner 3--
#  Define Global Location for MU48:
INST "$1I162/$7I4614/$1I4507" RLOC_ORIGIN = X129Y68; #WR_SEL FDCE
INST "$1I162/$7I4614/$1I4488" RLOC_ORIGIN = X129Y68; #SF_BRAM,SL_X84Y32
INST "$1I162/$7I4614" LOC = TBUF_X58Y5:TBUF_X58Y49;
INST "$1I162/$7I4614" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU49:
INST "$1I162/$7I4615/$1I4507" RLOC_ORIGIN = X129Y36; #WR_SEL FDCE
INST "$1I162/$7I4615/$1I4488" RLOC_ORIGIN = X129Y36; #SF_BRAM,SL_X84Y16
INST "$1I162/$7I4615" LOC = TBUF_X56Y5:TBUF_X56Y49;
INST "$1I162/$7I4615" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU50:
INST "$1I162/$7I4616/$1I4507" RLOC_ORIGIN = X129Y4; #WR_SEL FDCE
INST "$1I162/$7I4616/$1I4488" RLOC_ORIGIN = X129Y4; #SF_BRAM,SLI_X84Y0
INST "$1I162/$7I4616" LOC = TBUF_X54Y5:TBUF_X54Y49;
INST "$1I162/$7I4616" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU51:
INST "$1I162/$7I4863/$1I4507" RLOC_ORIGIN = X111Y52; #WR_SEL FDCE
INST "$1I162/$7I4863/$1I4488" RLOC_ORIGIN = X111Y52; #SF_BRAM,SL_X72Y24
INST "$1I162/$7I4863" LOC = TBUF_X52Y5:TBUF_X52Y49;
INST "$1I162/$7I4863" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU52:
INST "$1I162/$7I4838/$1I4507" RLOC_ORIGIN = X111Y20; #WR_SEL FDCE
INST "$1I162/$7I4838/$1I4488" RLOC_ORIGIN = X111Y20; #SF_BRAM,SLI_X72Y8
INST "$1I162/$7I4838" LOC = TBUF_X50Y5:TBUF_X50Y49;
INST "$1I162/$7I4838" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU53:
INST "$1I162/$7I4762/$1I4507" RLOC_ORIGIN = X93Y4; #WR_SEL FDCE
INST "$1I162/$7I4762/$1I4488" RLOC_ORIGIN = X93Y4; #SF_BRAM,SLI_X60Y0
INST "$1I162/$7I4762" LOC = TBUF_X46Y5:TBUF_X46Y49;
INST "$1I162/$7I4762" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU54:
INST "$1I162/$7I4731/$1I4507" RLOC_ORIGIN = X93Y36; #WR_SEL FDCE
INST "$1I162/$7I4731/$1I4488" RLOC_ORIGIN = X93Y36; #SF_BRAM,SLI_X60Y16
INST "$1I162/$7I4731" LOC = TBUF_X48Y5:TBUF_X48Y49;
INST "$1I162/$7I4731" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU55:
INST "$1I162/$7I4712/$1I4507" RLOC_ORIGIN = X75Y100; #WR_SEL FDCE
INST "$1I162/$7I4712/$1I4488" RLOC_ORIGIN = X75Y100; #SF_BRAM,SL_X48Y48
INST "$1I162/$7I4712" LOC = TBUF_X44Y5:TBUF_X44Y49;
INST "$1I162/$7I4712" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for *MU56*:
INST "$1I162/$7I4974/$1I4507" RLOC_ORIGIN = X75Y68; #WR_SEL FDCE
INST "$1I162/$7I4974/$1I4488" RLOC_ORIGIN = X75Y68; #SF_BRAM,SL_X48Y32
INST "$1I162/$7I4974" LOC = TBUF_X42Y5:TBUF_X42Y49;
INST "$1I162/$7I4974" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU57:
INST "$1I162/$7I4632/$1I4507" RLOC_ORIGIN = X75Y52; #WR_SEL FDCE
INST "$1I162/$7I4632/$1I4488" RLOC_ORIGIN = X75Y52; #SF_BRAM,SLI_X48Y24
INST "$1I162/$7I4632" LOC = TBUF_X40Y5:TBUF_X40Y49;
INST "$1I162/$7I4632" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#  Define Global Location for MU58:
INST "$1I162/$7I4651/$1I4507" RLOC_ORIGIN = X75Y20; #WR_SEL FDCE
INST "$1I162/$7I4651/$1I4488" RLOC_ORIGIN = X75Y20; #SF_BRAM,SLI_X48Y8
INST "$1I162/$7I4651" LOC = TBUF_X38Y5:TBUF_X38Y49;
INST "$1I162/$7I4651" AREA_GROUP = AG_MEMTBUF_DN; #Def AreaGrp
#AREA_GROUP "AG_MEMTBUF_DN" RANGE = TBUF_X0Y0:TBUF_X60Y47; #LocTBUF
# AREA_GROUP "AG_MEMTBUF_DN" RANGE = TBUF_X0Y0:TBUF_X90Y55; #LocTBUF
# AREA_GROUP "AG_MEMTBUF_C3" RANGE = TBUF_X46Y0:TBUF_X90Y31; #LocTBUF
#
#
#################
# MEM_CTRL0 RLOC
#################
INST "$1I162/$1I3963" AREA_GROUP = AG_MEM_CTRL0; #Def AreaGrp
INST "$1I162/$1I3963" LOC = SLICE_X8Y66:SLICE_X35Y71;#LocSL x8y64
#AREA_GROUP "AG_MEM_CTRL0" RANGE = SLICE_X8Y66:SLICE_X35Y71;#LocSL x8y64
AREA_GROUP "AG_MEM_CTRL0" COMPRESSION = 1;
#
#
#################
# MEM_CTRL1 RLOC
#################
INST "$1I162/$5I3963" AREA_GROUP = AG_MEM_CTRL1; #Def AreaGrp
INST "$1I162/$5I3963" LOC = SLICE_X8Y40:SLICE_X35Y45;#LocSLx35y47
#AREA_GROUP "AG_MEM_CTRL1" RANGE = SLICE_X8Y40:SLICE_X35Y45;#LocSLx35y47
AREA_GROUP "AG_MEM_CTRL1" COMPRESSION = 1;
#
#
#################
# READ_CTRL0 RLOC
#################
INST "$1I162/$1I4156/$1I3760/$1I96" RLOC = X0Y0; #OUT0 FD18CE_RPM x0y12
INST "$1I162/$1I4156/$1I3760/$1I99" RLOC = X3Y0; #OUT1 FD18CE_RPM x0y0
INST "$1I162/$1I4156/$1I3780/$1I96" RLOC = X0Y0; #DO0 FD18CE_RPM
INST "$1I162/$1I4156/$1I3780/$1I99" RLOC = X3Y0; #DO1 FD18CE_RPM
INST "$1I162/$1I4156/$1I3760/$1I96" RLOC_ORIGIN = X69Y148; # X69Y132
INST "$1I162/$1I4156/$1I3780/$1I96" RLOC_ORIGIN = X123Y148; #
#
INST "$1I162/$1I4156" AREA_GROUP = AG_RD_CTRL0; #Def AreaGrp
AREA_GROUP "AG_RD_CTRL0" RANGE = SLICE_X56Y56:SLICE_X83Y79; #Loc slice
#AREA_GROUP "AG_RD_CTRL0" RANGE = SLICE_X56Y56:SLICE_X83Y71; #Loc slice
AREA_GROUP "AG_RD_CTRL0" COMPRESSION = 1;
#
#
#################
# READ_CTRL1 RLOC
#################
INST "$1I162/$5I4156/$1I3760/$1I96" RLOC = X0Y0; #OUT0 FD18CE_RPM x0y12
INST "$1I162/$5I4156/$1I3760/$1I99" RLOC = X3Y0; #OUT1 FD18CE_RPM x0y0
INST "$1I162/$5I4156/$1I3780/$1I96" RLOC = X0Y0; #DO0 FD18CE_RPM
INST "$1I162/$5I4156/$1I3780/$1I99" RLOC = X3Y0; #DO1 FD18CE_RPM
INST "$1I162/$5I4156/$1I3760/$1I96" RLOC_ORIGIN = X69Y68; # X69Y132
INST "$1I162/$5I4156/$1I3780/$1I96" RLOC_ORIGIN = X123Y68; #
#
INST "$1I162/$5I4156" AREA_GROUP = AG_RD_CTRL1; #Def AreaGrp
AREA_GROUP "AG_RD_CTRL1" RANGE = SLICE_X56Y32:SLICE_X83Y55; #Loc slice
#AREA_GROUP "AG_RD_CTRL1" RANGE = SLICE_X56Y40:SLICE_X83Y55; #Loc slice
AREA_GROUP "AG_RD_CTRL1" COMPRESSION = 1;
#
#
#PINLOCK_END
